
<div class="container ">
  <h1>Dashboard</h1>
  <div class="form-group row">
     <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="search by id or name"/>
  </div>


<table class="table table-hover">
    <thead>
      <tr>
        <th >id</th>
        <th >name</th>
        <th >department</th>
        <th >joining_date</th>
        <th >salary</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor = "let data of data | filter:searchText" >
        <td (click)="onSelect(data)">{{data.id}}</td>
        <td >{{ data.name }}</td>
        <td (click)="onSelect(data)">{{ data.department }}</td>
        <td>{{ data.joining_date }}</td>
        <td >{{ data.salary }}</td>
      </tr>
    </tbody>
  </table>
  
  <ngb-pagination 
  [pageSize]="10"
  [collectionSize]="10" 
  [(page)]="page" 
  [boundaryLinks]="true" >
</ngb-pagination>
</div>

<router-outlet></router-outlet>