h1{

    text-align: center;
    color: lightseagreen;
}

div{

    text-align: center;
    font-size: larger;
    
}

button{
    text-align: center;
    display: inline-block;
    align-items: center;
    padding: 15px 32px;
    background-color: white;
    color: cadetblue;
    border: 2px solid lightgray;
    margin: 8px 8px 8px 0;


}
button {
    transition-duration: 0.4s;
  }
  
button:hover {
    background-color: lightseagreen; 
    color: white;
  }

