h1{

    text-align: center;
    color: lightseagreen;
}

h1{
    transition-duration: 0.4s;
  }
  
h1:hover {
    background-color: lightseagreen; 
    color: white;
  }
div{

    text-align: center;
    font-size: larger;
    
}

button{
    text-align: center;
    background-color: white;
    color: cadetblue;
    border: 2px solid lightgray;
    margin: 8px 8px 8px 0;


}
button {
    transition-duration: 0.4s;
  }
  
button:hover {
    background-color: lightseagreen; 
    color: white;
  }

